* {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
  }

body {
    width: 100%;
    margin: 0%;
}

a {
    text-decoration: none;
}

.banner h1 {
    font-size: 40px;
    font-family: 'Inspiration';
    border-bottom: 80px;
    padding-top: 20px;
    margin-left: 40px;
    margin-top: 0px;
    color: black;
}

.banner p {
    font-family: 'Maven Pro';
    margin-left: 40px;
    color: black;
}

.margin-left-0 {
    margin-left: 0;
}

.main {
    font-family: 'Maven Pro';
    background-color: #efefef;
    padding-left: 40px;
    padding-top: 20px;

}

.main p {
    margin-left: 40px;
    text-align: justify;
    padding-bottom: 5px;
    margin-right: 20px;
}
.h2 {
    margin-top: 20px;
    margin-left: 40px;
}

.h3 {
    margin-left: 60px;
}

#footer {
    font-family: 'Maven Pro';
    padding-left: 40px;
}

@media only screen and (max-width: 767px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
